@using MVCFirstCustomHelper.CustomHelper;
@model MVCFirstCustomHelper.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.File("iiiii") <br/>

@Html.CustomTextBoxFor(m => m.UserName)

